<div class="about" style="font-family: popins">
    <app-navbar></app-navbar>
  <div class="showcase">
    <canvas class="overlap overlap-about" id="c"></canvas>
  </div>

  <div class="container d-flex justify-content-center " >
    <!-- Content goes here -->
  </div>
  <div class="container mt-5">
    <div class="container pb-3">
        <div>
            <h1 class="" style="color:#F15232">Premade Parties</h1>
        </div>
        
    </div>
    <div class="container" >
        <div style="border: 1px solid #333333; width: 100%;border-radius: 10px;">
            <div class=" d-flex justify-content-between">
                <div class="d-flex m-2" style="align-items: 'center';">
                    <div class=" btn btn-light p-2" style="width: 60px;height: 40px;">
<p class="m-0 center" >All</p>
                    </div>
                    <div class=" btn btn-light p-2" style="min-width: 100px;height: 40px;margin-left: 10px;background-color: #333333;color: #ffff;border: none;">
                        <p>Open Slots</p>
                    </div>
                </div>



                <div class="input-group m-2 " style="width: 30%; ">
                    <div class="input-group-prepend">
                        <span class="form-control border-input" id="basic-addon1" style=" background-color: '#00000' !important;">@</span>
                      </div>
                    
                    <input type="text" class="form-control" placeholder="Search by pro name" aria-label="Search" aria-describedby="search-button" style="border: 1px  solid #333333 !important;background-color: 'black !important';">
                    
                  </div>
            </div>
        </div>
    </div>
   
   
   
  </div>

    <app-footer-new></app-footer-new>

  
</div>

